
$w: 100px;

$cur: -drop;

@mixin arrow ( $dir: top, $w: 1px, $c: #fff, $h: $w, $pos: absolute ) {
    border: $w solid transparent;
    
    @if $dir == top or $dir == bottom {
        border-left-width: $h;
        border-right-width: $h;
    } @else {
        border-top-width: $h;
        border-right-width: $h;
    }
    
    position: $pos;
    border-#{$dir}: $w solid $c;
    font-size: 0;
}

.box {
    width: $w;
    height: (100/2)px;   
    height: 100px+2px;
    font-size: round(5.5px)/2;
    padding: ($w/20)px; 
    background: #948204 + #325;
    color: rgb(10, 20, 20) - rgb(22, 2, 8);
    border: 1px solid rgba(20, 2, 10, .4) * rgba(10, 34, 2, .4);
    cursor: no + $cur;  
    @include arrow();
}

