
@import 'utils.less';
@import 'variables.less';

.header {
    background: @while;
    .container {
        div {
            a {
                color: @rootScopeColor;
                .hedaerHover(); 
            }
        }
        .curpors {
            li {
                a {
                    color: @rootScopeColor;
                    .hedaerHover(); 
                }
            }
        }
    }
}
