.header {
  background: #ffffff;
}
.header .container div a {
  color: #6f5499;
}
.header .container div a:hover {
  cursor: pointer;
  background: #f9f9f9;
}
.header .container .curpors li a {
  color: #6f5499;
}
.header .container .curpors li a:hover {
  cursor: pointer;
  background: #f9f9f9;
}
