body {
	background: #E6E6E6;
}

.container a {
	text-decoration: none;
}
.container a:hover {
	color: #4d525d;
}
.container h1 {
	float: left;
}

.header {
	background: #fff;
	height: 60px;
	border-bottom: 1px solid #ccc;
}
.header img {
	float: left;
	margin-top: 7px;
}
.header h1 {
	line-height: 60px;
	margin: 0;
	font-size: 26px;
	margin-left: 10px;
}
.header .login {
	float: right;
	line-height: 60px;
}

/* 列表样式 */

.nav {
	margin-top: 10px;
	width: 240px;
	background: #fff;
	height: 600px;
	float: left;
}

.nav > ul {
	padding-left: 40px;
}

.nav > ul > li {
	margin: 20px 0;
}

.nav .childNav {
	padding-left: 16px;
}

.nav .childNav li {
	line-height: 30px;
}

.nav h3 {
	font-size: 18px;
	line-height: 30px;
} 

.app-main {
	padding: 30px;
}



.main {
	margin-top: 10px;
	margin-left: 250px;
	height: 600px;
	background: #fff;
}	
/* 登录模块的样式 */
.whole-page {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #efefef;
}
.app-login .login-container {
	background: #fff;
	width: 400px;
	margin: 100px auto;
	padding: 10px 20px;
	border-radius: 5px;
}
.app-login h2 {
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #efefef;
	font-size: 24px;
	text-align: center;
}
.app-login .form-group {
	padding: 10px 0;
	line-height: 30px;
	margin-bottom: 0px;
}
.app-login label {
	width: 100px;
	display: inline-block;
	text-align: right;
}
.app-login input {
	/*width: 220px;*/
	padding-left: 10px;
}
.submit-btn input {
	width: 360px;
	margin: 0 auto;
}
.app-login .btn-container {
	text-align: center;
	padding-bottom: 30px;
}
.app-login .error-container {
	height: 35px;
    margin-top: -10px;
    margin-bottom: 10px;
    text-indent: 105px;
    overflow: hidden;
}



/* 用户提交页面 */
.main-inner {
	padding: 10px 30px;
}
.main-inner h2 {
	font-size: 28px;
	border-bottom: 1px solid #efefef;
	line-height: 60px;
	margin-bottom: 40px;
}
.main-inner .row {
	height: 60px;
}
.main-inner .col-lg-3,
.main-inner .col-lg-2 {
	text-align: right;
}
.main-inner .btn {
	margin-top: 20px;
}

.main-inner .news-list .col-lg-3,
.main-inner .news-list .col-lg-2 {
	text-align: center;
}