<!DOCTYPE html>
<html>
	
	<head>
		<meta charset="UTF-8">
		<title>后台系统</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="css/app.css"/>
	</head>
	
	<body >
		
		<div ng-app="app">
			
			<!--header-->
			<header class="header">
				<div class="container">
					<img src="img/logo.png" alt="">
					
					<div class="login">
						<span>你好，欢迎回来！</span>
						<span class="text-info">{{ userName }}</span>
						<span>|</span>
						<a href="../admin/action/logout.php">退出</a>
					</div>
					
					<h1>后台管理系统</h1>
				</div>
			</header>
			<!-- end header-->
			
			<!--nav-->
			<div class="nav" ng-controller="navCtrl">
				
				<ul>
					<li ng-repeat="item in list">
						<h3>{{ item.title }}</h3>
						<ul class="childNav">
							<li ng-repeat="childItem in item.childList">
								<a href="{{ childItem.url }}">{{ childItem.title }}</a>
							</li>
						</ul>
					</li>
				</ul>
				
			</div>
			<!--end nav-->
			
			<!--main-->
			<div class="main" ng-view=""></div>
			<!--end main-->
			
		</div>
		
		
		<script src="js/lib/angular-1-4-1.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/lib/angular-route.js" type="text/javascript" charset="utf-8"></script>

		<!--配置文件-->
		<script src="js/config.js" type="text/javascript" charset="utf-8"></script>
		<!--end 配置文件-->
			
			
		<!--model-->	
		<script src="js/services/models/navModel.js" type="text/javascript" charset="utf-8"></script>
		<!--end model-->
			
		<!--controller-->
		<script src="js/controllers/loginCtrl.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/controllers/mainCtrl.js" type="text/javascript" charset="utf-8"></script>
		<!--end controller-->
		
		<!--路由配置-->		
		<script src="js/router.js" type="text/javascript" charset="utf-8"></script>
		<!--end 路由配置-->
		
		<!--app-->
		<script src="js/app.js" type="text/javascript" charset="utf-8"></script>
		<!--end app-->
		
	</body>
	
</html>