<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		
		<div id="app"></div>
		
		<script src="lib/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script src="lib/lodash.js" type="text/javascript" charset="utf-8"></script>
		<script src="lib/backbone.js" type="text/javascript" charset="utf-8"></script>
		
		
		<script type="text/javascript">
			
			//moduel
			var Price = Backbone.Model.extend({
				defaults: {
					price: 100,
					info: 'xixihaha'
				}
			})
			
			//view
			var View = Backbone.View.extend({
				
				model: new Price(),
				tpl: _.template('<div><span class="price">¥<%= price%></span><span class="mail"><%= info%></span></div>'),
				
				initialize: function () {
					
					//数据
					var data = this.model.toJSON();
					
					//html
					var html = this.tpl(data);
					
					this.$el.html(html).css('background','pink');
					
				}
				
			})
			
			var appView = new View({
				el: $('#app')
			});
			
		</script>
		
	</body>
</html>
