<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>团购网</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="css/reset.less"/>
		<link rel="stylesheet" type="text/css" href="css/app.less"/>
		
	</head>
	<body>
		
		<div class="app" id="app">
			
			<header class='app-header'>
				
				<div class="navbar">
					<div class="back fl"><span class="arrow"></span><span class="arrow green"></span></div>
					<div class="login fr">登录</div>
					<h1>团购网</h1>
				</div>
				
				<div class="search" v-show="hideSerch">
					<input type="text" v-on:keyup.enter="search" placeholder="请输入搜索关键字">
				</div>
				
			</header>
			
			<!--动态组件-->
			<component v-bind:is="view"></component>
			
		</div>
		
		
		
		<!--tpl_home-->
		<script type="text/template" id="tpl_home">
			
			<section class="home-page clearfix">
				
				<!--icon 模块-->
				<ul class="types clearfix">
					<li v-for="item in types">
						<a href="#list/type/{{item.id}}">
							<img v-bind:src="'img/icon/' + item.url" alt="" />
							<!--<img src="img/icon/{{item.url}}" alt="" />-->
							<span>{{item.title}}</span>
						</a>
					</li>
				</ul>
				
				<!--ad 模块-->
				<ul class="ad clearfix">
					<li v-for="item in ad">
						<a href="#product/{{item.id}}">
							<h2>{{item.title}}</h2>
							<p>{{item.description}}</p>
							<img v-bind:src="'img/product/' + item.url" alt="" />
						</a>
					</li>
				</ul>
				
				<!--list 模块-->
				<ul class="list clearfix">
					
					<li v-for="item in list">
						<a href="#product/{{ item.id }}">
							<img v-bind:src="'img/list/' + item.img" alt="" />
							<div class="description">
								<h3>{{ item.title }}</h3>
								<span class="desc-left price">{{ item.price | price }}</span>
								<span class="desc-left orign-price">{{ item.orignPrice | orignPrice }}</span>
								<span class="desc-right">{{ item.sales | sales }}</span>
							</div>
						</a>
					</li>
					
				</ul>
				
			</section>
			
		</script>
		
		<!--end tpl_home-->
		
		<!--list-->
		<script type="text/template" id="list_tpl">
			
			<section class="list-page">
				
				<!--sort 模块-->
				<ul class="type clearfix white">
					<li v-for="item in types" v-on:click="sortNum(item.key)">
						<span>{{ item.value }}</span>
						<span class="arrow"></span>
					</li>
				</ul>
				
				<div class="">
					<!--list 模块-->
					<ul class="list clearfix">
						<li v-for="item in data">
							<a href="#product/{{ item.id }}">
								<img v-bind:src="'img/list/' + item.img" alt="" />
								<div class="description">
									<h3>{{ item.title }}</h3>
									<span class="desc-left price">{{ item.price | price }}</span>
									<span class="desc-left orign-price">{{ item.orignPrice | orignPrice }}</span>
									<span class="desc-right">{{ item.sales | sales }}</span>
								</div>
							</a>
						</li>
					</ul>
					
					<div class="load-more white" v-on:click="loadMore" v-show="otherData.length">
						<span>{{otherData.length | otherNum }}</span>
						<span class="arrow-more">
							<span class="arrow-more arrow-more-rep"></span>
						</span>
					</div>
					
				</div>
				
			</section>
			
		</script>
		
		<!--end list-->
		
		
		<!--product-->
		<script type="text/template" id="product_tpl">
			
			<section class="product-page">
				
				<div class="img-container">
					<img v-bind:src="'img/item/' + product.src" alt="">
					<div class="img-bg clearfix">
						<h1>{{product.title}}</h1>
						<p>{{product.description}}</p>
					</div>
				</div>
				
				<div class="price-container">
					<span class="btn">立即购买</span>
					<span class="price">
						<span>{{product.price}}</span>元
					</span>
					<span>{{product.orignPrice | orignPrice}}</span>
				</div>
				
				<ul class="sale-container clearfix">
					<li>支持随时退款</li>
					<li>支持过期自动退</li>
					<li class="sales">{{product.sales | sales}}</li>
				</ul>
				
				<div class="part store">
					<h2>店家信息</h2>
					<p>{{product.storeName}}</p>
					<p>{{product.storeAdress}}</p>
					<div class="see-more">查看全部{{product.storeNum}}家适用分店</div>
				</div>
				
				<div class="part buy">
					<h2>购买须知</h2>
					<ul>
						<li>
							<h3>有效期</h3>
							<div>{{product.validateTime}}</div>
						</li>
						<li>
							<h3>使用时间</h3>
							<div>{{product.useTime}}</div>
						</li>
						<li>
							<h3>使用规则</h3>
							<ul>
								<li v-for="item in product.rules">{{item}}</li>
							</ul>
						</li>
					</ul>
				</div>
				
			</section>
			
		</script>
		<!--end product-->
		
		
		<script src="js/lib/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/sea.js" type="text/javascript" charset="utf-8"></script>
		
		<script type="text/javascript">
			
			seajs.use('app', function ( app ) {
				
				app.showApp();
				
			});
			
		</script>
		
	</body>
</html>
