<div class="app-login whole-page">
	<div class="login-container">
		
		<h2>用户登陆</h2>
		
		<form name="login1" ng-submit="submit()">
			
			<div class="form-group">
				<label for="user_name">用户名：</label>
				<input type="text" ng-model="user.username" placeholder="请输入用户名" required />
			</div>
			
			<div class="form-group">
				<label for="pass_word">密码：</label>
				<input type="password" ng-model="user.password" placeholder="请输入密码" required />
			</div>
			
			<div class="form-group text-danger error-container">
				<span ng-show="login1.username.$dirty && login1.username.$invalid">请输入用户名</span>
				<span ng-show="login1.password.$dirty && login1.password.$invalid">请输入密码</span>
			</div>
			
			<div class="form-group submit-btn">
				<input type="submit" ng-disabled="login1.$invalid" class="btn btn-success"  value="提交" />
			</div>
			
		</form>
		
	</div>
</div>


