<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style type="text/css">
			li {
				list-style: none;
			}
			.login {
				width: 500px;
				margin: 40px auto;
				border: 1px solid cyan;
				padding: 40px;
				height: 400px;
			}
			.login input {
				width: 250px;
				height: 26px;
				line-height: 26px;
				border: 1px solid #111;
				padding-left: 4px;
				font-size: 14px;
			}
			
			ul {
				padding-left: 64px;
				/*display: none;*/
			}
			ul li {
				line-height: 40px;
			}
			ul li:hover {
				background: #fafafa;
			}
		</style>
	</head>
	<body>
		
		<div class="login">
			用户名：<input type="text" v-model="msg" />
			<ul v-if="checkNum">
				<li v-for="item in email | filterBy dealNum" v-on:click="chooseEmail"> {{ msg | removeEmail }}{{ item }} </li>
			</ul>
		</div>
		
		
		<script src="vue1.js" type="text/javascript" charset="utf-8"></script>
		
		<script type="text/javascript">
			
			var removeEmail = Vue.filter('removeEmail', function ( val ) {
				
				// @qq.com
				return val.replace(/@.*/,'');	
				
			});
			
			var data = {
				msg: '',
				email: [
					'@qq.com', 
					'@gmail.com', 
					'@129.com', 
					'@189.com',
					'@sina.com'
				]
			}
			
			// login Vue 模块
			var vmLogin = new Vue({
				
				el: '.login',
				data: data,
				
				// 动态数据
				computed: {
					
					checkNum: function () {
						
//						return this.msg ? true : false;

//						return this.msg && this.msg.indexOf('@') < 0; 
						return 	this.msg;
						
					},
					
					dealNum: function () {
						
						// 123@qq => 123  获取 @qq
						// 第一步获取@位置
						
						var idx = this.msg.indexOf('@');
						
						if ( idx >= 0 ) {
							
							return this.msg.slice(idx);
							
						}
						
						return '';
						
					}
					
				},
				
				methods: {
					chooseEmail: function ( ev ) {
					
						this.msg = ev.target.innerHTML.replace(/\s+/,'');
						
					}
				}
				
			});
			
		</script>
		
	</body>
</html>
