<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		
		<!--<div id="app">
			<input type="text" name="" v-model="msg" value="" />
			<span>{{msg | uppercase}}</span>
		</div>-->
		
		
		<!-- 多选 -->
		
		<!--<div class="app">
			<input type="checkbox" v-model="size.size30" name="" id="" />中
			<input type="checkbox" v-model="size.size20" name="" id="" />英
			<span>{{ size| json }}</span>
		</div>
		-->
		
		<!--单选-->
		
		<!--<div class="app">
			<label for="nan">男</label>
			<input type="radio" name="" id="nan" v-model="sex" value="nan" />
			<label for="nv">女</label>
			<input type="radio" name="" id="nv" v-model="sex" value="nv" />
			<span>{{sex}}</span>
		</div>-->
		
		
		<!--下拉框-->
		
		<!--<div class="app">
			
			<select name="" v-model="msg" multiple="multiple">
				<option selected="selected">德国</option>
				<option>法国</option>
				<option>葡萄牙</option>
				<option>意大利</option>
			</select>
			
			<br />
			<br />
			<span>{{ msg }}</span>
			
		</div>-->
		
		<!--动态下拉框-->
		
		<div class="app">
			<select name="" v-model="country" multiple="multiple">
				<option  value="{{item}}" v-for="item in countrys">{{ item }}</option>
			</select>
			<span>{{country}}</span>
		</div>
		
		<!-- debounce -->
		<!-- lazy -->
		<!--<div class="app">
			<input type="text" v-model="msg" debounce="1000" lazy name="" id="" value="" />--
			<input type="text" v-model="msg" lazy name="" id="" value="" />
			{{msg}}
		</div>-->
		
		
		
		<script src="vue1.js" type="text/javascript" charset="utf-8"></script>
		
		<script type="text/javascript">
			
//			var data = {
//				msg: 'xixixii'
//			}
//			
//			var vm = new Vue({
//				el: '#app',
//				data: data
//			});
		
//				var data = {
//					size: {
//						size30: true,
//						size20: false
//					}
//				}
//		


//				var vm = new Vue({
//					el: '.app',
//					data: data
//				});


	
//				var vm = new Vue({
//					el: '.app',
//					data: data
//				});
//
//
//				var data = {
//					msg: '',
//					sex: 'nv'
//				}
//				
					
				var data = {
					country: '',
					countrys: ['德国', '英国', '冰岛', '葡萄牙']
				}
					
				var vm = new Vue({
					el: '.app',
					data: data
				});
			
		</script>
		
	</body>
</html>
