
// 全局混淆
/**
 * 公共类
 */

.w100 {
    width: 100%;
}


.fl {
    float: left;
}
.fr {
    float: right;
}

.fwn {
    font-weight: normal;    
}

.tc {
    text-align: center;
}

.hide {
    display: none
}

.clearfix:after {
    clear: both;
    display: table;
    content: " "
}

.gray {
    background: #f2f2f2
}

.white {
    background: white;
}

.overflow {
    overflow: hidden;
    *zoom: 1;
}


/**
 * 公共类
 */






