
// 全局变量 

// 颜色   字体  宽度

// 主色调
@rootScopeColor: #ff7125;

// 头部高度
@headHeight: 54px;

@while: #fff;


//@bigFontSize: 16px;
//@samllFontSize: 12px;
//@headerFontSize: 30px;


@defaultFontSize: 14px;
